{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/get_services.css' %}">
</head>
<body>
   

    <header>

        <h1>Get Services</h1>

    </header>

    <div class="top-deck">
        <h2>Search for the service you want</h2>
        <div class="search-area">
            <input id="search-input" type="text" placeholder="What do you want done?">
            <a class="search-button"> search   
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>

        <h2 style="text-align:center;margin-top: 20px;margin-bottom: 20px;">OR</h2>
        <a href="/services.html" class="search-button"> Browse our services 
                <i class="fa-solid fa-clone"></i>
            </a></div>


    <hr style="border:1px solid #4353ff;">

</body>
{% endblock %}
