{% extends 'base.html' %}

{% block content %}
{% load static %}
<body>
    
    <header>
        <div class="left">
            <div class="text">
                <!-- <h2>Get your lessons about crypto by practicing firsthand now</h2> -->
                <h2>Get your handy work done instead of crying "Oh S#*t"</h2>
                <!-- <p>Target rich environment powerpoint bunny, for put in a deck for our standup today bake it in awareness wanted to give youa heads-up personal development</p> -->
                <p>From cleaning your house to getting your sink fixed, we've got you covered with handy men around your area. Heck, you can also be a handy man if you want to!</p>
            </div>

            <div class="email">
                <!-- <input type="text" value="Email address"> -->
                <button>Get services</button>
                <button>Offer Services</button>
            </div>
        </div>

        <div class="right">
            <img src="{% static 'images/black-plumber.png' %}" alt="">
        </div>
    </header>

    <!-- How it works section below -->
    <section class="how-it-works">
        <h2>How it works</h2>

        <div class="cards">
            <div class="card">
                <div id="image">
                    <img src="{% static 'images/white-plumber.png' %}" alt="" srcset="">
                </div>
                <h3>1. Sign Up</h3>
                <p>Give the required documents and details for application.</p>
                <button>Get Started</button>
            </div>
            <div class="card">
                <div id="image">
                    <img src="{% static 'images/white-plumber.png' %}" alt="" srcset="">
                </div>
                <h3>2. Install the App</h3>
                <p>Intall the app to get notified of new jobs and notifications.</p>
                <button>Get Started</button>
            </div>
            <div class="card">
                <div id="image">
                    <img src="{% static 'images/white-plumber.png' %}" alt="" srcset="">
                </div>
                <h3>3. Get hired!</h3>
                <p>Accept and process job requirements from clients</p>
                <button>Get Started</button>
            </div>
        </div>
    </section>
    <!-- How it works section above -->

    <hr style="border:1px solid #4353ff;">


</body>
{% endblock %}
