<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Sudo Services</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{% static 'images/sudo_logo.png' %}" alt="" srcset="">
        </div>

        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="get_services.html">Get services</a></li>
            <li><a href="offer-services.html">Offer services</a></li>
            <li>|</li>
            <li><a href="index.html">Ts & Cs</a></li>
            <li><a href="index.html">Contact us</a></li>
        </ul>
    </nav>

    <header>
        <div class="left">
            <div class="text">
                <!-- <h2>Get your lessons about crypto by practicing firsthand now</h2> -->
                <h2>Get your handy work done instead of crying "Oh S#*t"</h2>
                <!-- <p>Target rich environment powerpoint bunny, for put in a deck for our standup today bake it in awareness wanted to give youa heads-up personal development</p> -->
                <p>From cleaning your house to getting your sink fixed, we've got you covered with handy men around your area. Heck, you can also be a handy man if you want to!</p>
            </div>

            <div class="email">
                <!-- <input type="text" value="Email address"> -->
                <button>Get services</button>
                <button>Offer Services</button>
            </div>
        </div>

        <div class="right">
            <img src="{% static 'images/black-plumber.png' %}" alt="">
        </div>
    </header>

    <!-- How it works section below -->
    <section class="how-it-works">
        <h2>How it works</h2>

        <div class="cards">
            <div class="card">
                <div id="image">
                    <img src="{% static 'images/white-plumber.png' %}" alt="" srcset="">
                </div>
                <h3>1. Sign Up</h3>
                <p>Give the required documents and details for application.</p>
                <button>Get Started</button>
            </div>
            <div class="card">
                <div id="image">
                    <img src="{% static 'images/white-plumber.png' %}" alt="" srcset="">
                </div>
                <h3>2. Install the App</h3>
                <p>Intall the app to get notified of new jobs and notifications.</p>
                <button>Get Started</button>
            </div>
            <div class="card">
                <div id="image">
                    <img src="{% static 'images/white-plumber.png' %}" alt="" srcset="">
                </div>
                <h3>3. Get hired!</h3>
                <p>Accept and process job requirements from clients</p>
                <button>Get Started</button>
            </div>
        </div>
    </section>
    <!-- How it works section above -->

    <hr style="border:1px solid #4353ff;">

    <footer>
        <div class="first-line">
            <div class="logo">
                <img src="{% static 'images/sudo_logo.png' %}" alt="">
            </div>
            <div class="text">
                <p>Reeady to get started?</p>
                <div class="link-btn">
                    <button>Get started</button>
                </div>
            </div>
            <br>
        </div>

        <hr style="border:1px solid gray;">

        <div class="second-line">
            <div class="subscribe-to-newsletter">
                <p>Subscribe to our newsletter</p>
                <input type="text" value="Email address">
                <button>></button>
            </div>
            <div class="services">
                <ul>
                    <h4>Services</h4>
                    <li>Email marketing</li>
                    <li>Campaigns</li>
                    <li>Branding</li>
                    <li>Offline</li>
                </ul>
            </div>

            <div class="about">
                <ul>
                    <h4>About</h4>
                    <li>Email marketing</li>
                    <li>Campaigns</li>
                    <li>Branding</li>
                    <li>Offline</li>
                </ul>
            </div>

            <div class="help">
                <ul>
                    <h4>Help</h4>
                    <li>Email marketing</li>
                    <li>Campaigns</li>
                </ul>
            </div>
        </div>

        <hr style="border:1px solid gray;">

        <div class="third-line">
            <div class="footer-legal-text">
                <h3>Terms and Conditions</h3>
                <h3 id="priv">Privacy Policy</h3>
            </div>
            <div class="footer-social-logos">
                <a href="https://facebook.com">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="https://twitter.com">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="https://instagram.com">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
        </div>
    </footer>


    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>