{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<nav>
    <div class="logo">
        <img src="{% static 'images/sudo_logo.png' %}" alt="" srcset="">
    </div>

    <ul>
        <li><a {% if url == 'home' %}id="active" {% endif %} href="{% url 'index' %}">Home</a></li>
        <li><a {% if url == 'getServices' %}id="active" {% endif %} href="{%url 'getServices' %}">Get services</a></li>
        <li><a {% if url == 'offerServices' %}id="active" {% endif %} href="{% url 'offerServices' %}">Offer services</a></li>
        <li>|</li>
        <li><a {% if url == 'getServices' %}id="active" {% endif %} href="{% url 'index' %}">Ts & Cs</a></li>
        <li><a {% if url == 'getServices' %}id="active" {% endif %} href="{% url 'index' %}">Contact us</a></li>
    </ul>
</nav>
