<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/offer_services.css">
    <title>Sudo Services</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="./images/sudo_logo.png" alt="" srcset="">
            </div>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="get_services.html">Get services</a></li>
                <li><a id="active" href="offer-services.html">Offer services</a></li>
                <li>|</li>
                <li><a href="index.html">Ts & Cs</a></li>
                <li><a href="index.html">Contact us</a></li>
            </ul>
        </nav>

        <header>
            <div class="offer-services-header-image">
                <h1>Offer Services</h1>
            </div>
        </header>

        <!-- How it works section below -->
        <section class="how-it-works">
            <h2>How it works</h2>

            <div class="cards">
                <div class="card">
                    <div id="image">
                        <img src="./images/white-plumber.png" alt="" srcset="">
                    </div>
                    <h3>1. Sign Up</h3>
                    <p>Give the required documents and details for application.</p>
                    <button>Get Started</button>
                </div>
                <div class="card">
                    <div id="image">
                        <img src="./images/white-plumber.png" alt="" srcset="">
                    </div>
                    <h3>2. Install the App</h3>
                    <p>Intall the app to get notified of new jobs and notifications.</p>
                    <button>Get Started</button>
                </div>
                <div class="card">
                    <div id="image">
                        <img src="./images/white-plumber.png" alt="" srcset="">
                    </div>
                    <h3>3. Get hired!</h3>
                    <p>Accept and process job requirements from clients</p>
                    <button>Get Started</button>
                </div>
            </div>
        </section>
        <!-- How it works section above -->

        <!-- Advantages section below -->
        <section class="advantages">
            <h3>Advantages of Service Providers</h3>
            <img src="./images/workers.png" alt="">

            <!-- <div class="loption">
                <div class="bar">
                    <p>Update your profile with images of jobs you have done.</p>
                    <img src="./images/orange-labour.jpg" alt="">
                </div>
            </div>

            <div class="roption">
                <div class="bar">
                    <p>Communicate and agree with client through the app.</p>
                    <img src="./images/orange-labour.jpg" alt="">
                </div>
            </div>

            <div class="loption">
                <div class="bar">
                    <p>View client security score.</p>
                    <img src="./images/orange-labour.jpg" alt="">
                </div>
            </div>

            <div class="roption">
                <div class="bar">
                    <p>Receive payments through the app to your wallet.</p>
                    <img src="./images/orange-labour.jpg" alt="">
                </div>
            </div>

            <div class="loption">
                <div class="bar">
                    <p>Better ranks push yout to the top of the list.</p>
                    <img src="./images/orange-labour.jpg" alt="">
                </div>
            </div> -->
        </section>
        <!-- Advantages section above -->

        <hr style="border:1px solid #4353ff;">

        <footer>
            <div class="first-line">
                <div class="logo">
                    <img src="./images/sudo_logo.png" alt="">
                </div>
                <div class="text">
                    <p>Reeady to get started?</p>
                    <div class="link-btn">
                        <button>Get started</button>
                    </div>
                </div>
                <br>
            </div>

            <hr style="border:1px solid gray;">

            <div class="second-line">
                <div class="subscribe-to-newsletter">
                    <p>Subscribe to our newsletter</p>
                    <input type="text" value="Email address">
                    <button>></button>
                </div>
                <div class="services">
                    <ul>
                        <h4>Services</h4>
                        <li>Email marketing</li>
                        <li>Campaigns</li>
                        <li>Branding</li>
                        <li>Offline</li>
                    </ul>
                </div>

                <div class="about">
                    <ul>
                        <h4>About</h4>
                        <li>Email marketing</li>
                        <li>Campaigns</li>
                        <li>Branding</li>
                        <li>Offline</li>
                    </ul>
                </div>

                <div class="help">
                    <ul>
                        <h4>Help</h4>
                        <li>Email marketing</li>
                        <li>Campaigns</li>
                    </ul>
                </div>
            </div>

            <hr style="border:1px solid gray;">

            <div class="third-line">
                <div class="footer-legal-text">
                    <h3>Terms and Conditions</h3>
                    <h3 id="priv">Privacy Policy</h3>
                </div>
                <div class="footer-social-logos">
                    <a href="https://facebook.com">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="https://twitter.com">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    <a href="https://instagram.com">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>