<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/services.css">
    <title>Sudo Services</title>
</head>

<body>
    <div class="container">

        <nav>
            <div class="logo">
                <img src="./images/sudo_logo.png" alt="" srcset="">
            </div>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a id="active" href="get_services.html">Get services</a>
                </li>
                <li><a href="offer-services.html">Offer services</a></li>
                <li>|</li>
                <li><a href="index.html">Ts & Cs</a></li>
                <li><a href="index.html">Contact us</a></li>
            </ul>
        </nav>

        <header>
            <div class="search-area">
                <input id="search-input" type="text" placeholder="What do you want done?">
                <a class="search-button"> search   
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            </div>
        </header>

        <section class="categories">
            <h2>Job Categories</h2>
            <div class="cat-items">
                <div class="job-cat">
                    <img src="./images/welcome-image.jpg" alt="">
                    <p>House Cleaning</p>
                </div>
                <div class="job-cat">
                    <img src="./images/welcome-image.jpg" alt="">
                    <p>Plumbing</p>
                </div>
                <div class="job-cat">
                    <img src="./images/welcome-image.jpg" alt="">
                    <p>Lawn Mowing</p>
                </div>
                <div class="job-cat">
                    <img src="./images/welcome-image.jpg" alt="">
                    <p>Electricity</p>
                </div>
                <div class="job-cat">
                    <img src="./images/welcome-image.jpg" alt="">
                    <p>Change Light Bulb</p>
                </div>
            </div>

            <h2>Browse Services Below</h2>
            <div class="cards">
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/black-plumber.png" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/maid-image.webp" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>
                <div class="card">
                    <img src="./images/app-image.jpg" alt="">
                    <p class="service">Plumbing</p>
                    <div class="rating"></div>
                </div>

            </div>
        </section>


        <hr style="border:1px solid #4353ff;margin-top: 50px;">

        <footer>
            <div class="first-line">
                <div class="logo">
                    <img src="./images/sudo_logo.png" alt="">
                </div>
                <div class="text">
                    <p>Reeady to get started?</p>
                    <div class="link-btn">
                        <button>Get started</button>
                    </div>
                </div>
                <br>
            </div>

            <hr style="border:1px solid gray;">

            <div class="second-line">
                <div class="subscribe-to-newsletter">
                    <p>Subscribe to our newsletter</p>
                    <input type="text" value="Email address">
                    <button>></button>
                </div>
                <div class="services">
                    <ul>
                        <h4>Services</h4>
                        <li>Email marketing</li>
                        <li>Campaigns</li>
                        <li>Branding</li>
                        <li>Offline</li>
                    </ul>
                </div>

                <div class="about">
                    <ul>
                        <h4>About</h4>
                        <li>Email marketing</li>
                        <li>Campaigns</li>
                        <li>Branding</li>
                        <li>Offline</li>
                    </ul>
                </div>

                <div class="help">
                    <ul>
                        <h4>Help</h4>
                        <li>Email marketing</li>
                        <li>Campaigns</li>
                    </ul>
                </div>
            </div>

            <hr style="border:1px solid gray;">

            <div class="third-line">
                <div class="footer-legal-text">
                    <h3>Terms and Conditions</h3>
                    <h3 id="priv">Privacy Policy</h3>
                </div>
                <div class="footer-social-logos">
                    <a href="https://facebook.com">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="https://twitter.com">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    <a href="https://instagram.com">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </div>
            </div>
        </footer>


        <!-- ionicons -->
        <script src="https://kit.fontawesome.com/cebb3c690a.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>
</body>

</html>